*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

/fabric.properties
.idea/vcs.xml
app/libs/
app/src/main/res/values/apiKey.xml

**/strings.xml